#stuffoverview {
	
}

.so_unit {
	height: 48px;
    width: 48px;
    border: 1px solid rgba(0,255,255,.8);
    border-radius: 0px;
    margin: 1px;
    position: relative;
    background: rgba(0,255,255,.4);
}

.so_unit:hover {
    border: 1px solid rgba(0,255,255,1);
    background: rgba(0,255,255,.8);
}

.so_unit:active {
    border: 1px solid rgba(0,255,255,1);
    background: rgba(0,255,255,.6);
}

.so_unit > img {
	height: 36px;
	width: 36px;
	margin: 4px;
}

.so_unit > .count {
    padding: 2px;
    font-family: 'Armata Regular';
    font-size: 11px;
    z-index: 1;
    color: #fff;
    background: #006868;
    border: 1px solid #00ffff;
    border-width: 1px 0px 0px 1px;
    position: absolute;
    bottom: 0;
    right: 0;
}